

/* Estilos para el contenedor de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    padding: 5px;
  }
  
  /* Estilo para el input de búsqueda */
  input[type="text"] {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 20px 0 0 20px;
  }
  
  /* Estilo para el botón de búsqueda */
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    height: 40px;
  }
  
  /* Estilo para los iconos */
  .icono-grande {
    width: 25px;
    height: 25px;
  }
  
  /* Estilo para el boton twittear */
  .btn-largo {
    width: 200px;
  }
  
 /* Estilos columna core central */
 .btn-largo1 {
    width: 400px;
 }

 .icono-grande2 {
    width: 30px;
    height: 30px;
 }

 .btn-largo2 {
    width: 100px;
 }

 .tweets {
    margin-left: 45px;
 }

 .botonera-fija {
    position: fixed;
 }

 .imagen {
    width: 100%;
 }

 .btn-largo3 {
    width: 170px;
 }

 /*modo oscuro*/

body {
   background-color: #ffffff;
   color: #1f1f1f;
}

.card {
   background-color: #f8f9fa;
   color: #1f1f1f;
}

/* Estilos para el modo oscuro */
body.dark-mode {
   background-color: #1f1f1f;
   color: #ffffff;
}

.card.dark-card {
   background-color: #333333;
   color: #ffffff;
}
